.header {
	width:100%;
	position: relative;
	padding:40px 0 30px;
	
	.logo-wrapper {
		position: relative;
		width:28%;
	
		.h1 {
			float: left;
			position: absolute;
			bottom: 0;
			right: 0;
			color: $blue;
		}

		.logo	{
			float: left;
			padding-right: 20px;
		}
	}
}