.nav {

	.nav-item {
		display: inline-block;
		padding-right: 20px;
		text-transform: uppercase;

		&.active > a {
			font-weight: bold;
			color: black;
		}

		&.triangle:after {
			content: '\25BE';
			margin-left: 5px;
			color:$blue;
		}
	}

	a {
		color: #005581;
		padding-bottom: 6px;

		&:hover {
			color:black;
		}
	}

	.nav-header {
		width: 100%;
		border-top: 1px solid gray;
		border-bottom: 1px solid gray;
		padding: 10px 0;		
		
		.nav-item.active a {
			border-bottom: 5px solid gray;
		}
	}

	.nav-breadcrumbs {
		border-bottom: 1px solid rgba(150,150,150, 0.6);
		padding: 10px 0;
		font-size: 12px;
		margin-bottom: 20px;

		.nav-item {
			text-transform: capitalize;
			&:after {
				content: ">";
				margin-left: 10px;
				vertical-align: middle;
				color: gray;
			}
			&:last-child:after {
				content:none;
			}
		}
	}

	.nav-module {
		border: 1px solid gray;
		margin-bottom: 20px; 

		.nav-item {
			display: block;
			border-bottom: 1px solid gray;
			color: $blue;
			padding:12px 15px;
			font-size: 13px;
			background-color: $gray;

			&:last-child {
				border-bottom: none;
			}

			&.active {
				background-color:white;
				border-left: 6px solid $pink;
			}
		}
	}

	.nav-footer {
		border-top: 1px solid rgba(150,150,150, 0.6);
		border-bottom: 1px solid rgba(150,150,150, 0.6);
		font-size: 15px;
		padding:15px 0;
		margin-bottom: 20px;
		.nav-item {
			text-transform: capitalize;
		}
	}
}
