.slice {
	width: 100%;
}

.slice-item {
	width: 50%;
	float: left;
}

.slice-wide {
	width: 100%;
}

.slice-2col-spaced {
	.slice-item {
		width: 33%;
		margin-right: 30px; 
	}
}

.slice-3col {
  & > .slice-item {
		width: (100% / 3);
		float: left;
	}
  & > .slice-item-wide {
  		width: 100% / 3 * 2;
  		float: left;
  }
}

.slice-4col {
	& > .slice-item {
		width: 25%;
	}

	& > .slice-item-wide {
		width: 75%;
	}
}

.slice-5col {
  & > .slice-item {
		width: (100% / 5);
	}
  & > .slice-item-wide {
  		width: 100% / 5 * 2;
  }
}

@media only screen and (max-width:$mobile-break) {
	.slice {
		display: -webkit-flex;
	    display: flex;
	    -webkit-flex-flow: column wrap;
	    flex-flow: column wrap;
	}
	.slice-3col {
	  & > .slice-item {
			width: 100%;
			float: left;
			-webkit-flex: 1 auto;
    		flex: 1 auto;
    		order: 1;
		}
	  & > .slice-item-wide {
	  		width: 100%;
	  		float: left;
	  		-webkit-flex: 1 auto;
    		flex: 1 auto;
	  }
	}
}