* {
	box-sizing:border-box;
}

body {
	font-family: "Kievit", Arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: $blue;
	transition: color 0.3s;

	&:hover {
		color:black;
	}
}

::selection {
    background-color: #555;
    color: #FFF;
}