/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* reset */
/* line 5, ../../../../../usr/local/Cellar/ruby/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/Cellar/ruby/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/Cellar/ruby/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/Cellar/ruby/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/Cellar/ruby/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/Cellar/ruby/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/Cellar/ruby/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/Cellar/ruby/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/Cellar/ruby/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* tools */
/* line 1, ../sass/tools/_helpers.scss */
.pull-left {
  float: left;
}

/* line 4, ../sass/tools/_helpers.scss */
.pull-right {
  float: right;
}

/* line 7, ../sass/tools/_helpers.scss */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 13, ../sass/tools/_helpers.scss */
.cf:after {
  clear: both;
}

/* line 17, ../sass/tools/_helpers.scss */
.cf {
  *zoom: 1;
}

@font-face {
  font-family: 'Kievit';
  src: url("../fonts/KievitWebPro-Book.woff") format("woff");
}
@font-face {
  font-family: 'Kievit';
  src: url("../fonts/KievitWebPro-Bold.woff") format("woff");
  font-weight: bold;
}
/* base */
/* line 1, ../sass/base/_base.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../sass/base/_base.scss */
body {
  font-family: "Kievit", Arial, Helvetica, sans-serif;
}

/* line 9, ../sass/base/_base.scss */
a {
  text-decoration: none;
  color: #00517e;
  transition: color 0.3s;
}
/* line 14, ../sass/base/_base.scss */
a:hover {
  color: black;
}

/* line 19, ../sass/base/_base.scss */
::selection {
  background-color: #555;
  color: #FFF;
}

/* line 1, ../sass/base/_headers.scss */
.h1 {
  font-size: 25px;
}

/* line 5, ../sass/base/_headers.scss */
.h2 {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  color: #333333;
}

/* line 12, ../sass/base/_headers.scss */
.h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333333;
}

/* line 19, ../sass/base/_headers.scss */
.h4 {
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 15px;
  color: #333333;
}

/* line 27, ../sass/base/_headers.scss */
.h5 {
  font-size: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: gray;
}

/* line 1, ../sass/base/_paragraph.scss */
.paragraph {
  line-height: 25px;
  font-size: 14px;
  margin-bottom: 15px;
  color: #333333;
}
/* line 7, ../sass/base/_paragraph.scss */
.paragraph a {
  border-bottom: 1px dotted black;
}

/* line 1, ../sass/base/_icons.scss */
.icon-wrapper {
  height: 40px;
  width: 100%;
}
/* line 5, ../sass/base/_icons.scss */
.icon-wrapper .icon {
  height: 35px;
  width: 35px;
  display: inline-block;
  margin: 2px;
  float: right;
}
/* line 12, ../sass/base/_icons.scss */
.icon-wrapper .icon.icon-twitter {
  background: url(../img/twitter.png) center no-repeat;
}
/* line 15, ../sass/base/_icons.scss */
.icon-wrapper .icon.icon-twitter:hover {
  background: url(../img/twitter-hover.png) center no-repeat;
}
/* line 19, ../sass/base/_icons.scss */
.icon-wrapper .icon.icon-facebook {
  background: url(../img/facebook.png) center no-repeat;
}
/* line 22, ../sass/base/_icons.scss */
.icon-wrapper .icon.icon-facebook:hover {
  background: url(../img/facebook-hover.png) center no-repeat;
}
@media (max-width: 640px) {
  /* line 5, ../sass/base/_icons.scss */
  .icon-wrapper .icon {
    float: none;
  }
}

/* layout */
/* line 1, ../sass/layout/_container.scss */
#container {
  width: 100%;
  position: relative;
}

/* line 1, ../sass/layout/_wrapper.scss */
.wrapper {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 10px;
}

/* line 1, ../sass/layout/_header.scss */
.header {
  width: 100%;
  position: relative;
  padding: 40px 0 20px;
}
/* line 6, ../sass/layout/_header.scss */
.header .header-logo-wrapper {
  position: relative;
  width: 250px;
}
/* line 10, ../sass/layout/_header.scss */
.header .header-logo-wrapper .h1 {
  float: left;
  position: absolute;
  bottom: 0;
  right: 0;
  color: #00517e;
}
/* line 18, ../sass/layout/_header.scss */
.header .header-logo-wrapper .logo {
  float: left;
  padding-right: 20px;
}
/* line 23, ../sass/layout/_header.scss */
.header .header-social-wrapper {
  float: right;
}
@media (max-width: 640px) {
  /* line 23, ../sass/layout/_header.scss */
  .header .header-social-wrapper {
    height: 0;
    opacity: 0;
    float: left;
  }
}
/* line 32, ../sass/layout/_header.scss */
.header .header-social-wrapper.mobile-shown {
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  opacity: 1;
}
/* line 42, ../sass/layout/_header.scss */
.header .hamburger {
  display: none;
}
@media (max-width: 640px) {
  /* line 42, ../sass/layout/_header.scss */
  .header .hamburger {
    display: block;
    float: right;
    border: 1px solid rgba(155, 155, 155, 0.6);
    border-radius: 5px;
    padding: 8px;
  }
  /* line 52, ../sass/layout/_header.scss */
  .header .hamburger:hover {
    cursor: pointer;
  }
}
/* line 57, ../sass/layout/_header.scss */
.header .hamburger .line {
  width: 25px;
  height: 3px;
  margin-bottom: 3px;
  background-color: #00517e;
}
/* line 63, ../sass/layout/_header.scss */
.header .hamburger .line:last-child {
  margin-bottom: 0;
}

/* line 1, ../sass/layout/_footer.scss */
.footer {
  margin: 20px 0;
}
/* line 4, ../sass/layout/_footer.scss */
.footer .footer-copyright {
  color: gray;
  font-size: 13px;
}
/* line 8, ../sass/layout/_footer.scss */
.footer .footer-copyright a {
  color: gray;
}

/* line 3, ../sass/layout/_nav.scss */
.nav .nav-item {
  display: inline-block;
  padding-right: 20px;
  text-transform: uppercase;
}
/* line 8, ../sass/layout/_nav.scss */
.nav .nav-item.active > a {
  font-weight: bold;
  color: black;
}
/* line 13, ../sass/layout/_nav.scss */
.nav .nav-item.triangle:after {
  content: '\25BE';
  margin-left: 5px;
  color: #00517e;
}
/* line 20, ../sass/layout/_nav.scss */
.nav a {
  color: #005581;
  padding-bottom: 6px;
}
/* line 24, ../sass/layout/_nav.scss */
.nav a:hover {
  color: black;
}
/* line 29, ../sass/layout/_nav.scss */
.nav .nav-header {
  width: 100%;
  border-top: 1px solid gray;
  padding: 11px 0;
}
@media (max-width: 640px) {
  /* line 29, ../sass/layout/_nav.scss */
  .nav .nav-header {
    border-top: none;
    height: 0;
    opacity: 0;
    padding: 0;
  }
}
/* line 41, ../sass/layout/_nav.scss */
.nav .nav-header.mobile-shown {
  height: 100%;
  opacity: 1;
}
/* line 46, ../sass/layout/_nav.scss */
.nav .nav-header .nav-item.active a {
  border-bottom: 5px solid gray;
}
@media (max-width: 640px) {
  /* line 46, ../sass/layout/_nav.scss */
  .nav .nav-header .nav-item.active a {
    border-bottom: none;
  }
}
/* line 52, ../sass/layout/_nav.scss */
.nav .nav-header .nav-item a:hover {
  border-bottom: 5px solid gray;
}
@media (max-width: 640px) {
  /* line 52, ../sass/layout/_nav.scss */
  .nav .nav-header .nav-item a:hover {
    border-bottom: none;
  }
}
@media (max-width: 640px) {
  /* line 59, ../sass/layout/_nav.scss */
  .nav .nav-header .nav-item {
    display: block;
    padding: 12px;
    border-top: 1px solid gray;
  }
}
/* line 68, ../sass/layout/_nav.scss */
.nav .nav-breadcrumbs {
  border-top: 1px solid gray;
  border-bottom: 1px solid rgba(150, 150, 150, 0.6);
  padding: 10px 0;
  font-size: 12px;
  margin-bottom: 20px;
}
@media (max-width: 640px) {
  /* line 68, ../sass/layout/_nav.scss */
  .nav .nav-breadcrumbs {
    border-bottom: 1px dotted rgba(150, 150, 150, 0.6);
  }
}
/* line 79, ../sass/layout/_nav.scss */
.nav .nav-breadcrumbs .nav-item {
  text-transform: capitalize;
}
/* line 81, ../sass/layout/_nav.scss */
.nav .nav-breadcrumbs .nav-item:after {
  content: ">";
  margin-left: 10px;
  vertical-align: middle;
  color: gray;
}
/* line 87, ../sass/layout/_nav.scss */
.nav .nav-breadcrumbs .nav-item:last-child:after {
  content: none;
}
/* line 90, ../sass/layout/_nav.scss */
.nav .nav-breadcrumbs .nav-item a:hover {
  border-bottom: 1px solid black;
  padding-bottom: 0;
}
/* line 97, ../sass/layout/_nav.scss */
.nav .nav-module {
  border: 1px solid gray;
  margin-bottom: 20px;
}
/* line 101, ../sass/layout/_nav.scss */
.nav .nav-module:last-child {
  border-bottom: none;
}
/* line 105, ../sass/layout/_nav.scss */
.nav .nav-module .nav-item {
  display: block;
  border-bottom: 1px solid gray;
  color: #00517e;
  padding: 12px 15px;
  font-size: 13px;
  background-color: #f2f0ee;
}
/* line 113, ../sass/layout/_nav.scss */
.nav .nav-module .nav-item.active {
  background-color: white;
  border-left: 6px solid #e44b9a;
}
/* line 116, ../sass/layout/_nav.scss */
.nav .nav-module .nav-item.active:hover {
  background-color: white;
}
/* line 120, ../sass/layout/_nav.scss */
.nav .nav-module .nav-item:hover {
  background-color: #ebe8e5;
}
/* line 126, ../sass/layout/_nav.scss */
.nav .nav-footer {
  border-top: 1px solid rgba(150, 150, 150, 0.6);
  border-bottom: 1px solid rgba(150, 150, 150, 0.6);
  font-size: 15px;
  padding: 15px 0;
  margin-bottom: 20px;
}
/* line 132, ../sass/layout/_nav.scss */
.nav .nav-footer .nav-item {
  text-transform: capitalize;
}
/* line 135, ../sass/layout/_nav.scss */
.nav .nav-footer .nav-item a:hover {
  border-bottom: 1px solid black;
  padding-bottom: 0;
}

/* line 1, ../sass/layout/_main.scss */
.main {
  padding-left: 15px;
}
@media (max-width: 640px) {
  /* line 1, ../sass/layout/_main.scss */
  .main {
    padding-left: 0;
  }
}

/* line 1, ../sass/layout/_slice.scss */
.slice {
  width: 100%;
}

/* line 5, ../sass/layout/_slice.scss */
.slice-item {
  width: 50%;
  float: left;
}

/* line 10, ../sass/layout/_slice.scss */
.slice-wide {
  width: 100%;
}

/* line 15, ../sass/layout/_slice.scss */
.slice-2col-spaced .slice-item {
  width: 33%;
  margin-right: 30px;
}

/* line 22, ../sass/layout/_slice.scss */
.slice-3col > .slice-item {
  width: 33.33333%;
  float: left;
}
/* line 26, ../sass/layout/_slice.scss */
.slice-3col > .slice-item-wide {
  width: 66.66667%;
  float: left;
}

/* line 33, ../sass/layout/_slice.scss */
.slice-4col > .slice-item {
  width: 25%;
}
/* line 37, ../sass/layout/_slice.scss */
.slice-4col > .slice-item-wide {
  width: 75%;
}

/* line 43, ../sass/layout/_slice.scss */
.slice-5col > .slice-item {
  width: 20%;
}
/* line 46, ../sass/layout/_slice.scss */
.slice-5col > .slice-item-wide {
  width: 40%;
}

@media only screen and (max-width: 640px) {
  /* line 52, ../sass/layout/_slice.scss */
  .slice {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
  }

  /* line 59, ../sass/layout/_slice.scss */
  .slice-3col > .slice-item {
    width: 100%;
    float: left;
    -webkit-flex: 1 auto;
    flex: 1 auto;
    order: 1;
  }
  /* line 66, ../sass/layout/_slice.scss */
  .slice-3col > .slice-item-wide {
    width: 100%;
    float: left;
    -webkit-flex: 1 auto;
    flex: 1 auto;
  }
}
/*
 * jQuery FlexSlider v2.5.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 * 
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
  font-family: 'flexslider-icon';
  src: url("../fonts/flexslider-icon.eot");
  src: url("../fonts/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("../fonts/flexslider-icon.woff") format("woff"), url("../fonts/flexslider-icon.ttf") format("truetype"), url("../fonts/flexslider-icon.svg#flexslider-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
/* line 25, ../sass/layout/_slider.scss */
.flex-container a:hover,
.flex-slider a:hover,
.flex-container a:focus,
.flex-slider a:focus {
  outline: none;
}

/* line 31, ../sass/layout/_slider.scss */
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 39, ../sass/layout/_slider.scss */
.flex-pauseplay span {
  text-transform: capitalize;
}

/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
/* line 45, ../sass/layout/_slider.scss */
.flexslider {
  margin: 0;
  padding: 0;
}

/* line 49, ../sass/layout/_slider.scss */
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}

/* line 53, ../sass/layout/_slider.scss */
.flexslider .slides img {
  width: 100%;
  display: block;
}

/* line 57, ../sass/layout/_slider.scss */
.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 65, ../sass/layout/_slider.scss */
html[xmlns] .flexslider .slides {
  display: block;
}

/* line 68, ../sass/layout/_slider.scss */
* html .flexslider .slides {
  height: 1%;
}

/* line 71, ../sass/layout/_slider.scss */
.no-js .flexslider .slides > li:first-child {
  display: block;
}

/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
/* line 77, ../sass/layout/_slider.scss */
.flexslider {
  border-left: 6px solid #00a3ad;
  position: relative;
  zoom: 1;
  margin: 20px 0 30px;
}
/* line 83, ../sass/layout/_slider.scss */
.flexslider .h5 {
  float: right;
}
@media (max-width: 640px) {
  /* line 83, ../sass/layout/_slider.scss */
  .flexslider .h5 {
    float: left;
  }
}

/* line 91, ../sass/layout/_slider.scss */
.flexslider .slides {
  zoom: 1;
  max-height: 350px;
  overflow: hidden;
}

/* line 96, ../sass/layout/_slider.scss */
.flexslider .slides img {
  height: auto;
}

/* line 99, ../sass/layout/_slider.scss */
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 107, ../sass/layout/_slider.scss */
.loading .flex-viewport {
  max-height: 300px;
}

/* line 110, ../sass/layout/_slider.scss */
.carousel li {
  margin-right: 5px;
}

/* line 113, ../sass/layout/_slider.scss */
.flex-direction-nav {
  *height: 0;
}

/* line 116, ../sass/layout/_slider.scss */
.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 136, ../sass/layout/_slider.scss */
.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: '\f001';
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

/* line 144, ../sass/layout/_slider.scss */
.flex-direction-nav a.flex-next:before {
  content: '\f002';
}

/* line 147, ../sass/layout/_slider.scss */
.flex-direction-nav .flex-prev {
  left: -50px;
}

/* line 150, ../sass/layout/_slider.scss */
.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right;
}

/* line 154, ../sass/layout/_slider.scss */
.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px;
}

/* line 158, ../sass/layout/_slider.scss */
.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1;
}

/* line 161, ../sass/layout/_slider.scss */
.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px;
}

/* line 165, ../sass/layout/_slider.scss */
.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1;
}

/* line 168, ../sass/layout/_slider.scss */
.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default;
}

/* line 173, ../sass/layout/_slider.scss */
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}

/* line 186, ../sass/layout/_slider.scss */
.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}

/* line 192, ../sass/layout/_slider.scss */
.flex-pauseplay a:hover {
  opacity: 1;
}

/* line 195, ../sass/layout/_slider.scss */
.flex-pauseplay a.flex-play:before {
  content: '\f003';
}

/* line 198, ../sass/layout/_slider.scss */
.flex-control-nav {
  display: none;
}

/* line 201, ../sass/layout/_slider.scss */
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

/* line 207, ../sass/layout/_slider.scss */
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

/* line 223, ../sass/layout/_slider.scss */
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}

/* line 227, ../sass/layout/_slider.scss */
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}

/* line 232, ../sass/layout/_slider.scss */
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}

/* line 237, ../sass/layout/_slider.scss */
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}

/* line 242, ../sass/layout/_slider.scss */
.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 254, ../sass/layout/_slider.scss */
.flex-control-thumbs img:hover {
  opacity: 1;
}

/* line 257, ../sass/layout/_slider.scss */
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  /* line 265, ../sass/layout/_slider.scss */
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }

  /* line 269, ../sass/layout/_slider.scss */
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}
/* line 1, ../sass/layout/_sidebar.scss */
.sidebar {
  padding-right: 15px;
}
@media (max-width: 640px) {
  /* line 1, ../sass/layout/_sidebar.scss */
  .sidebar {
    padding-right: 0;
  }
}

/* line 1, ../sass/layout/_module.scss */
.info-module {
  background-color: #ffb50f;
  border-radius: 5px;
  padding: 15px 20px;
}
/* line 6, ../sass/layout/_module.scss */
.info-module .h4 {
  color: black;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
/* line 13, ../sass/layout/_module.scss */
.info-module .link {
  list-style: disc;
  margin-left: 20px;
  margin-bottom: 13px;
  font-size: 14px;
  text-transform: capitalize;
}
/* line 20, ../sass/layout/_module.scss */
.info-module .link a {
  border-bottom: 1px dotted black;
  color: #00517e;
}
/* line 24, ../sass/layout/_module.scss */
.info-module .link a:hover {
  color: black;
}

/* line 1, ../sass/layout/_input.scss */
#search {
  border: none;
  border-bottom: 1px solid #00517e;
  margin-bottom: 5px;
  padding-bottom: 5px;
  font-size: 15px;
  font-family: "Kievit";
  width: 200px;
  position: relative;
  background-color: white;
  background: url(../img/mag.png) right center no-repeat;
  background-size: 14px;
}
/* line 17, ../sass/layout/_input.scss */
#search:focus {
  outline: none;
}

/* line 21, ../sass/layout/_input.scss */
input::-webkit-input-placeholder {
  color: #00517e;
}

/* line 25, ../sass/layout/_input.scss */
input:-moz-placeholder {
  /* Firefox 18- */
  color: #00517e;
}

/* line 29, ../sass/layout/_input.scss */
input::-moz-placeholder {
  /* Firefox 19+ */
  color: #00517e;
}

/* line 33, ../sass/layout/_input.scss */
input:-ms-input-placeholder {
  color: #00517e;
}

/*
* On focus
*/
/* line 52, ../sass/layout/_input.scss */
*:focus::-webkit-input-placeholder {
  /* WebKit browsers */
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: ease;
  opacity: 0;
  background-color: #f2f0ee;
  text-indent: -100%;
}

/* line 55, ../sass/layout/_input.scss */
*:focus::-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: ease;
  opacity: 0;
  background-color: #f2f0ee;
  text-indent: -100%;
}

/* line 58, ../sass/layout/_input.scss */
*:focus::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: ease;
  opacity: 0;
  background-color: #f2f0ee;
  text-indent: -100%;
}

/* line 61, ../sass/layout/_input.scss */
*:focus::-ms-input-placeholder {
  /* Internet Explorer 10+ */
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: ease;
  opacity: 0;
  background-color: #f2f0ee;
  text-indent: -100%;
}
