/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* reset */
/* line 5, ../../../../../usr/local/Cellar/ruby/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/Cellar/ruby/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/Cellar/ruby/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/Cellar/ruby/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/Cellar/ruby/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/Cellar/ruby/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/Cellar/ruby/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/Cellar/ruby/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/Cellar/ruby/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* base */
/* line 1, ../sass/base/_base.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../sass/base/_base.scss */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* line 9, ../sass/base/_base.scss */
a {
  text-decoration: none;
}

/* line 13, ../sass/base/_base.scss */
::selection {
  background-color: #555;
  color: #FFF;
}

/* tools */
/* line 1, ../sass/tools/_helpers.scss */
.left {
  float: left;
}

/* line 4, ../sass/tools/_helpers.scss */
.right {
  float: right;
}

/* line 7, ../sass/tools/_helpers.scss */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 13, ../sass/tools/_helpers.scss */
.cf:after {
  clear: both;
}

/* line 17, ../sass/tools/_helpers.scss */
.cf {
  *zoom: 1;
}

/* layout */
/* line 1, ../sass/layout/_container.scss */
#container {
  width: 100%;
  position: relative;
}

/* line 1, ../sass/layout/_wrapper.scss */
.wrapper {
  max-width: 920px;
  margin: 0 auto;
}

/* line 1, ../sass/layout/_header.scss */
.header {
  width: 100%;
  position: relative;
  padding: 40px 0;
}
/* line 6, ../sass/layout/_header.scss */
.header .logo-wrapper {
  position: relative;
  width: 30%;
}
/* line 10, ../sass/layout/_header.scss */
.header .logo-wrapper .h1 {
  font-size: 2rem;
  float: left;
  position: absolute;
  bottom: 0;
  right: 0;
}
/* line 18, ../sass/layout/_header.scss */
.header .logo-wrapper .logo {
  float: left;
  padding-right: 20px;
}

/* line 3, ../sass/layout/_nav.scss */
.nav .nav-item {
  display: inline-block;
  padding-right: 20px;
}
/* line 7, ../sass/layout/_nav.scss */
.nav .nav-item.active > a {
  font-weight: bold;
  color: black;
  border-bottom: 5px solid gray;
}
/* line 14, ../sass/layout/_nav.scss */
.nav a {
  color: #005581;
  padding-bottom: 6px;
}
/* line 18, ../sass/layout/_nav.scss */
.nav a:hover {
  color: black;
}
/* line 23, ../sass/layout/_nav.scss */
.nav.nav-header {
  width: 100%;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 10px 0;
  text-transform: uppercase;
}
/* line 33, ../sass/layout/_nav.scss */
.nav.nav-breadcrumbs {
  border-bottom: 1px solid rgba(150, 150, 150, 0.6);
  padding: 10px 0;
  font-size: 12px;
}
/* line 39, ../sass/layout/_nav.scss */
.nav.nav-breadcrumbs .nav-item:after {
  content: ">";
  margin-left: 10px;
  vertical-align: middle;
  color: gray;
}
/* line 45, ../sass/layout/_nav.scss */
.nav.nav-breadcrumbs .nav-item:last-child:after {
  content: none;
}

/* line 1, ../sass/layout/_slice.scss */
.slice {
  width: 100%;
}

/* line 5, ../sass/layout/_slice.scss */
.slice-item {
  width: 50%;
  float: left;
}

/* line 10, ../sass/layout/_slice.scss */
.slice-wide {
  width: 100%;
}

/* line 15, ../sass/layout/_slice.scss */
.slice-2col-spaced .slice-item {
  width: 33%;
  margin-right: 30px;
}

/* line 22, ../sass/layout/_slice.scss */
.slice-3col > .slice-item {
  width: 33.33333%;
  float: left;
}
/* line 26, ../sass/layout/_slice.scss */
.slice-3col > .slice-item-wide {
  width: 66.66667%;
  float: left;
}

/* line 33, ../sass/layout/_slice.scss */
.slice-4col > .slice-item {
  width: 25%;
}
/* line 37, ../sass/layout/_slice.scss */
.slice-4col > .slice-item-wide {
  width: 75%;
}

/* line 43, ../sass/layout/_slice.scss */
.slice-5col > .slice-item {
  width: 20%;
}
/* line 46, ../sass/layout/_slice.scss */
.slice-5col > .slice-item-wide {
  width: 40%;
}

/*
 * jQuery FlexSlider v2.5.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 * 
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
  font-family: 'flexslider-icon';
  src: url("../fonts/flexslider-icon.eot");
  src: url("../fonts/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("../fonts/flexslider-icon.woff") format("woff"), url("../fonts/flexslider-icon.ttf") format("truetype"), url("../fonts/flexslider-icon.svg#flexslider-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
/* line 25, ../sass/layout/_slider.scss */
.flex-container a:hover,
.flex-slider a:hover,
.flex-container a:focus,
.flex-slider a:focus {
  outline: none;
}

/* line 31, ../sass/layout/_slider.scss */
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 39, ../sass/layout/_slider.scss */
.flex-pauseplay span {
  text-transform: capitalize;
}

/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
/* line 45, ../sass/layout/_slider.scss */
.flexslider {
  margin: 0;
  padding: 0;
}

/* line 49, ../sass/layout/_slider.scss */
.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}

/* line 53, ../sass/layout/_slider.scss */
.flexslider .slides img {
  width: 100%;
  display: block;
}

/* line 57, ../sass/layout/_slider.scss */
.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 65, ../sass/layout/_slider.scss */
html[xmlns] .flexslider .slides {
  display: block;
}

/* line 68, ../sass/layout/_slider.scss */
* html .flexslider .slides {
  height: 1%;
}

/* line 71, ../sass/layout/_slider.scss */
.no-js .flexslider .slides > li:first-child {
  display: block;
}

/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
/* line 77, ../sass/layout/_slider.scss */
.flexslider {
  margin: 0 0 60px;
  background: #ffffff;
  border: 4px solid #ffffff;
  position: relative;
  zoom: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
}

/* line 91, ../sass/layout/_slider.scss */
.flexslider .slides {
  zoom: 1;
}

/* line 94, ../sass/layout/_slider.scss */
.flexslider .slides img {
  height: auto;
}

/* line 97, ../sass/layout/_slider.scss */
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 105, ../sass/layout/_slider.scss */
.loading .flex-viewport {
  max-height: 300px;
}

/* line 108, ../sass/layout/_slider.scss */
.carousel li {
  margin-right: 5px;
}

/* line 111, ../sass/layout/_slider.scss */
.flex-direction-nav {
  *height: 0;
}

/* line 114, ../sass/layout/_slider.scss */
.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 134, ../sass/layout/_slider.scss */
.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: '\f001';
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

/* line 142, ../sass/layout/_slider.scss */
.flex-direction-nav a.flex-next:before {
  content: '\f002';
}

/* line 145, ../sass/layout/_slider.scss */
.flex-direction-nav .flex-prev {
  left: -50px;
}

/* line 148, ../sass/layout/_slider.scss */
.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right;
}

/* line 152, ../sass/layout/_slider.scss */
.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px;
}

/* line 156, ../sass/layout/_slider.scss */
.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1;
}

/* line 159, ../sass/layout/_slider.scss */
.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px;
}

/* line 163, ../sass/layout/_slider.scss */
.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1;
}

/* line 166, ../sass/layout/_slider.scss */
.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default;
}

/* line 171, ../sass/layout/_slider.scss */
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000;
}

/* line 184, ../sass/layout/_slider.scss */
.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004';
}

/* line 190, ../sass/layout/_slider.scss */
.flex-pauseplay a:hover {
  opacity: 1;
}

/* line 193, ../sass/layout/_slider.scss */
.flex-pauseplay a.flex-play:before {
  content: '\f003';
}

/* line 196, ../sass/layout/_slider.scss */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center;
}

/* line 202, ../sass/layout/_slider.scss */
.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

/* line 208, ../sass/layout/_slider.scss */
.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

/* line 224, ../sass/layout/_slider.scss */
.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7);
}

/* line 228, ../sass/layout/_slider.scss */
.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default;
}

/* line 233, ../sass/layout/_slider.scss */
.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden;
}

/* line 238, ../sass/layout/_slider.scss */
.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0;
}

/* line 243, ../sass/layout/_slider.scss */
.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

/* line 255, ../sass/layout/_slider.scss */
.flex-control-thumbs img:hover {
  opacity: 1;
}

/* line 258, ../sass/layout/_slider.scss */
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  /* line 266, ../sass/layout/_slider.scss */
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px;
  }

  /* line 270, ../sass/layout/_slider.scss */
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px;
  }
}
