@font-face {
    font-family: 'Kievit';
    src: url('../fonts/KievitWebPro-Book.woff') format('woff');
}

@font-face {
    font-family: 'Kievit';
    src: url('../fonts/KievitWebPro-Bold.woff') format('woff');
    font-weight: bold;
}