// global breaks
$small-screen-break: 320px;

$small-landscape-break: 480px;

$mobile-break: 640px;
$tablet-small-break: $mobile-break;
$tablet-break: 768px;
$tablet-landscape-break: 800px;
$medium-screen-break: 960px;
$large-screen-break: 1280px;
